#portfolio {
  color: #ffffff;
}

.Portfolio h1 {
  font-size: 40px;
  line-height: 1.2;
  margin: 0;
  left: 3px;
}

.Portfolio h3 {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  left: 5px;
  color: #ffffff;
}

/* Add styles for the portfolio class and other elements within the portfolio section */
